{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Interns</title>
    <link href="{% static './base.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    

    <script src="https://kit.fontawesome.com/d88c1d6e67.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'list' %}">Inicio <span class="icon icon-up-dir"></span></a></li>
                <li><a href="{% url 'create' %}">Crear <span class="icon icon-up-dir"></span></a></li>
    
            </ul>
        </nav>
    </div>

    <div class="contenido">
        <h1 class="titulo"><i class="fas fa-location-arrow"></i>POST INTERNS</h1>
    </div>

    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>


    
</body>
</html>